.photo-grid__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, fit-content(284px));
  grid-template-rows: repeat(3, fit-content(213px));
  grid-gap: 16px;
  margin: 0;
  padding: 0;
  line-height: 0;
}

@media screen and (max-width: 1024px) {
  .photo-grid__list {
    grid-template-columns: repeat(3, fit-content(300px));
    grid-template-rows: repeat(4, fit-content(225px));
    grid-gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid__list {
    grid-template-columns: repeat(2, fit-content(352px));
    grid-template-rows: repeat(6, fit-content(264px));
    grid-gap: 16px;
  }
}

@media screen and (max-width: 640px) {
  .photo-grid__list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 12px;
  }
}
