.places {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .places {
    width: calc(100% - 2*48px);
  }
}

@media screen and (max-width: 768px) {
  .places {
    width: calc(100% - 2*24px);
  }
}

@media screen and (max-width: 425px) { 
  .places {
    width: 100%;
  }
}