.lead {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  margin: 56px auto 0 auto;
}

@media screen and (max-width: 1024px) {
  .lead {
    width: calc(100% - 48px*2);
    margin: 48px auto 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
  }
}