.header {
  width: calc(100% - 48px*2);
  margin: 0 auto;
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 640px) { 
  .header {
    width: calc(100% - 16px*2);
    padding-top: 16px;
  }
}