.footer__copyright {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  align-self: center;
}

@media screen and (max-width: 640px) { 
  .footer__copyright {
    line-height: 14px;
    margin-top: 48px;
    align-self: flex-start;
  }
}