.footer {
  width: calc(100% - 48px*2);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 640px) {
  .footer {
    max-width: 90%;
    flex-direction: column;
  }
}

@media screen and (max-width: 340px) {
  .footer {
    width: calc(100% - 16px*2);
  }
}
